<!--region fun fact display-->
<StackLayout width="90%" *ngIf="!isGoodMorning()">
<!--<StackLayout>-->
    <button (tap)="getFunFact()" text="{{buttonMsg}}"></button>
    <Label *ngIf="error" text="{{errorMsg}}" textWrap="true"></Label>
</StackLayout>
<!--endregion-->

<!--region fun fact display-->
<ScrollView width="90%" orientation="vertical">
    <StackLayout *ngIf="isGoodMorning()">
        <Label *ngIf="funFact.hasCaption()" text="{{funFact.caption}}" textWrap="true"></Label>
        <Image [src]="funFact.image" width="100%" height="50%" stretch="aspectFill"></Image>
        <button
                *ngFor="let reference of funFact.references"
                (tap)="goToReference(reference.link)"
                text="{{reference.getMessage()}}">
        </button>
    </StackLayout>
</ScrollView>

<!--endregion-->
